<!doctype html>
<html lang="en">
    <head>
        <title>FO-EST-02</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

       

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/evaluacion_empresa.css') }}">
    </head>

    <body>
    
        <main>
            
            <form action="" method="">
                <div class="container">
                    <div class="header text-center mb-4">
                        <h1>FO-EST- 02 EVALUACIÓN POR LA EMPRESA</h1>
                        <div class="codigo">
                            <p>Código: FO-EST-02</p>
                            <p>Edición: 6</p>
                            <p>Fecha: 31/08/2022 </p>
                            <p>La evaluación por la empresa aporta el 40% a la calificación del 3er parcial de la estancia/estadía.</p>
                    </div>

                    

                </div>
                <div class="instructions">
                    <p>Instrucciones: Elija la respuesta que describa con mayor veracidad el desenvolvimiento del estudiante durante el desarrollo y permanencia dentro de  su empresa, de acuerdo a los criterios que se muestran a continuación.           (evaluación por estudiante).</p>
                </div>

                <div class="form-group">
                    <label for="advisorName">Nombre y Apellidos del Asesor Empresarial:</label>
                    
                    <input type="text" id="nombreasesor" name="nombreasesor" disabled value="{{nombreoculto}}">
                    <input type="hidden" id="equipo" name="equipo" value="{{equipo}}">
                </div>

                <div class="form-group">
                    <label for="advisorDegree">Grado de Estudios del Asesor Empresarial:</label>
                    <select id="advisorDegree" name="advisorDegree" required>
                        <option value="">Seleccione un grado</option>
                        <option value="Ing.">Ing.</option>
                        <option value="Lic.">Lic.</option>
                        <option value="C.">C.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Mtra.">Mtra.</option>
                        <option value="Mtro.">Mtro.</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="projectTitle">Carrera:</label>
                    <input type="text" id="" name="" disabled value="{{carrera}}">
                    <input type="text" id="" name="" hidden value="{{carrera}}">
                </div>

                <div class="form-group">
                    <label for="periodo">Periodo:</label>
                    <input type="text" id="" name="" disabled value="{{periodo}}">
                    <input type="text" id="periodo" name="periodo" hidden value="{{periodo}}">
                </div>

                <div class="form-group">
                    <label for="periodo">Etapa:</label>
                    <input type="text" id="" name="" disabled value="">
                    <input type="text" id="periodo" name="periodo" hidden value="">
                </div>

                <div class="form-group">
                    <label for="companyName">Nombre de la Empresa</label>
                    <input type="text" id="" name="" disabled value="{{empresa}}">
                    <input type="text" id="companyName" name="companyName" hidden value="{{empresa}}">
                </div>

                <div class="form-group">
                    <label for="projectTitle">Título del Proyecto del Estudiante</label>
                    <input type="text" id="projectTitle" name="projectTitle" disabled value="{{Nombreproyecto}}">
                    <input type="hidden" id="projectTitl" name="projectTitl" value="{{Nombreproyecto}}">
                </div>

                <button class="buttonSiguiente">Siguiente</button>
            </form>

        </main>


        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
