<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios de Estancias y Estadía</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cuestionario_salida2.css') }}">
</head>
<body>
<!-- <header class="header">
    <nav class="nav container">
        <a href="#estancia1" class="nav-item active" onclick="showForm('estancia1', this)">ESTANCIA I</a>
        <a href="#estancia2" class="nav-item" onclick="showForm('estancia2', this)">ESTANCIA II</a>
        <a href="#estadia" class="nav-item" onclick="showForm('estadia', this)">ESTADÍA</a>
    </nav>
</header> -->

<main class="container">
    {% if procedimiento == "ESTNC1" %}
    <section id="estancia1" class="form-section active">
        <header>
            <h1 class="tituloCarrera">Ingeniería en Mecánica Automotriz</h1>
            <h1 class="tituloFormulario" >Formulario de Estancia I</h1> 
        </header>
        
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE DURANTE SU ESTANCIA I?</h2>
                <div class="options-grid">
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Dimensionar de componentes Mecánicos">
                            Dimensionar de componentes Mecánicos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Establecimiento de procedimientos de manufactura">
                            Establecimiento de procedimientos de manufactura
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Aplicar herramientas de medición mediante las TIC´s">
                            Aplicar herramientas de medición mediante las TIC´s
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Identificar características dimensionales y geométricas">
                            Identificar características dimensionales y geométricas
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Aplicar herramientas mediante las TIC´s para generar planos de taller">
                            Aplicar herramientas mediante las TIC´s para generar planos de taller
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Implementar manual de mantenimiento">
                            Implementar manual de mantenimiento
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Reestructuración de procesos">
                            Reestructuración de procesos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Estrategias de desarrollo">
                            Estrategias de desarrollo
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="Mantenimiento mecánico">
                            Mantenimiento mecánico
                        </div>
                    </label>
                    </label>
                    <!-- Añade más opciones aquí siguiendo el mismo patrón -->
                    <label class="option-item other-option">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="otras">
                        </div>
                        <input type="text" placeholder="Otras funciones...">
                    </label>
                </div>
            </div>
        </div>
    </section>

    {% elif procedimiento == "ESTNC2" %}
    <section id="estancia2" class="form-section">
        <h1>INGENIERÍA EN MECÁNICA AUTOMOTRIZ</h1>
        <h1>Formulario de Estancia II</h1>
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE
                    DURANTE SU ESTANCIA II?</h2>
                <div class>
                    <div class="options-grid">
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Proponer procesos de manufactura de componentes mecánicos">
                                Proponer procesos de manufactura de componentes mecánicos
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Establecer procedimientos de fabricación">
                                Establecer procedimientos de fabricación
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Establecer normas de calidad y seguridad">
                                Establecer normas de calidad y seguridad
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Implementar procesos de manufactura convencional-CNC">
                                Implementar procesos de manufactura convencional-CNC
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Implementar normas de la industria">
                                Implementar normas de la industria
                            </div>
                        </label><label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia2" value="Definir componentes mecánicos">
                            Definir componentes mecánicos
                        </div>
                    </label><label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia2" value="Integrar sistemas mecánicos">
                            Integrar sistemas mecánicos
                        </div>
                    </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Simular modelos de componentes mecánicos mediante las TIC´s">
                                Simular modelos de componentes mecánicos mediante las TIC´s
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="Mantenimiento mecánico">
                                Mantenimiento mecánico
                            </div>
                        </label>
                        <label class="option-item other-option">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia2" value="otras">
                            </div>
                            <input type="text" placeholder="Otras funciones...">
                        </label>
                    </div>
                </div>
            </div>
    </section>

    {% elif procedimiento == "ESTD" %}
    <section id="estadia" class="form-section">
        <h1>INGENIERÍA EN MECÁNICA AUTOMOTRIZ</h1>
        <h1>Formulario de Estadía</h1>
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE DURANTE SU ESTADÍA?</h2>
                <div class="options-grid">
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Establecer procedimientos de fabricación que cumplan con normas de calidad y seguridad">
                            Establecer procedimientos de fabricación que cumplan con normas de calidad y seguridad
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Implementar procesos de Manufactura convencional y/o CNC mediante estándares">
                            Implementar procesos de Manufactura convencional y/o CNC mediante estándares
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Integración de sistemas mecánicos">
                            Integración de sistemas mecánicos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Simulación de Componentes por medio de herramientas computacionales para validar comportamiento dinámico">
                            Simulación de Componentes por medio de herramientas computacionales para validar comportamiento dinámico
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Integración de sistemas mecánicos">
                            Integración de sistemas mecánicos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Procedimientos de fabricación">
                            Procedimientos de fabricación
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Determinar la implementación de normas de calidad nacional e internacional ">
                            Determinar la implementación de normas de calidad nacional e internacional 
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Implementación de normas ambientales nacional e internacional">
                            Implementación de normas ambientales nacional e internacional
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Operación de industria 4.0">
                            Operación de industria 4.0
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Dirección de Recursos Humanos">
                            Dirección de Recursos Humanos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Establecer mantenimiento mecánico">
                            Establecer mantenimiento mecánico                        
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Implementación de procesos de manufactura por medio de tecnología">
                            Implementación de procesos de manufactura por medio de tecnología
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="Estrategias para el desarrollo de vehículos para el cuidado y protección del medio ambiente">
                            Estrategias para el desarrollo de vehículos para el cuidado y protección del medio ambiente
                        </div>
                    </label>
                    <label class="option-item other-option">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estadia" value="otras">
                        </div>
                        <input type="text" placeholder="Otras funciones...">
                    </label>

                </div>
            </div>
        </div>
    </section>
    {% endif %}


    <section>
        <div>
            <label for="">¿EL PROYECTO RESOLVIÓ SU NECESIDAD ?</label><br>
                <input type="radio" value="Si"> Si
                <br>
                <input type="radio" value="No"> No
        </div>
        <div>
            <label for="">LE INTERESARÍA PARTICIPAR EN PROYECTOS DE INVESTIGACIÓN Y DESARROLLO TECNOLÓGICO, ASESORADOS
                POR LA UNIVERSIDAD POLITÉCNICA DE TECÁMAC?</label>
                <input type="radio" value="Si"> Si
                <br>
                <input type="radio" value="No"> No
        </div>
        <div>
            <label for="">¿REALIZA INVESTIGACIÓN Y DESARROLLO EN SU EMPRESA?</label>
                <input type="radio" value="Si"> Si
                <br>
                <input type="radio" value="No"> No
        </div>
        <div>
            <label for="">¿ESTARÍA USTED DISPUESTO A CONTRATAR A EGRESADOS DE LA UNIVERSIDAD POLITÉCNICA DE
                TECÁMAC?</label>
                <input type="radio" value="Si"> Si
                <br>
                <input type="radio" value="No"> No
            <br>

            <label for="">¿POR QUÉ?</label><br>
            <input type="text">

        </div>
        <div>
            <label for="">¿APRUEBA LA EDICIÓN ELECTRÓNICA Y/O IMPRESA DE LA VERSIÓN FINAL DEL
                PROYECTO?</label>
                <input type="radio" value="Si"> Si
                <br>
                <input type="radio" value="No"> No
        </div>
        <div>
            <label for="">CLÁUSULA ESPECIAL DE LAS CONDICIONES DE EDICIÓN POR PARTE DEL ASESOR
                EMPRESARIAL (EN CASO DE EXISTIR)</label><br>

            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </section>

</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('input[name="funcion-estancia1"]', 'input[name="funcion-estancia2"]', 'input[name="funcion-estadia"]');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                const selectedOptions = Array.from(checkboxes)
                    .filter(cb => cb.checked)
                    .map(cb => cb.value);

                if (selectedOptions.length > 3) {
                    this.checked = false;
                    alert("Solo puedes seleccionar hasta 3 funciones.");
                    return;
                }

                console.log("Funciones seleccionadas:", selectedOptions);
            });
        });
    });

    // function showForm(formId, clickedItem) {
    //     // Ocultar todos los formularios
    //     document.querySelectorAll('.form-section').forEach(form => {
    //         form.classList.remove('active');
    //     });

    //     // Mostrar el formulario seleccionado
    //     document.getElementById(formId).classList.add('active');

    //     // Actualizar la clase activa en el menú
    //     document.querySelectorAll('.nav-item').forEach(item => {
    //         item.classList.remove('active');
    //     });
    //     clickedItem.classList.add('active');
    // }

</script>
</body>
</html>