<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Proyectos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/proyectosbusqueda.css') }}">

    
</head>
<header class="container-fluid d-flex justify-content-center bg-white p-2"> 
    <form action="/loginCoordinacionIni " method="post" id="cabecera">
        <button type="submit" class="custom-btn">← Atrás</button>
        <div class="logoUPT ms-3">
            <a href="/" class="logo-upt">
                <img src="../static/img/logo_upt.png" alt="Logo UPT" height="125">
            </a>
        </div>
    </form>
</header>

<body>
    <h1>Proyectos completos</h1>
    <form action="/verproyectos2" method="post"  id="form-busqueda">
        <input type="search" name="busqueda" id="busqueda" placeholder="Nombre del proyecto">
    </form>
    <div class="proyectos">
        {{ proyectos | safe }}
    </div>
</body>
</html>