<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Proyectos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/proyectosbusqueda.css') }}">

    
</head>
<header>
    <form action="/loginCoordinacionIni" method="post" id="form-busqueda">
        <button type="submit" class="custom-btn">← Atrás</button>
    </form>
</header>
<body>
    <h1>Proyectos completos</h1>
    <form action="/verproyectos2" method="post"  id="form-busqueda">
        <input type="search" name="busqueda" id="busqueda" placeholder="Nombre del proyecto">
    </form>
    <div class="proyectos">
        {{ proyectos | safe }}
    </div>
</body>
</html>