<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion02" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score.png" class="featured-block-image img-fluid mb-3" alt="VER CALIFICACIONES FORMATO 02">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-02</p>
                            </button>
                        </form>
                    </div>
                </div>


    <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion03" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score.png" class="featured-block-image img-fluid mb-3" alt="VER CALIFICACIONES FORMATO 02">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-03 completas</p>
                            </button>
                        </form>
                    </div>
                </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion07" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score.png" class="featured-block-image img-fluid mb-3" alt="VER CALIFICACIONES FORMATO 02">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-07</p>
                            </button>
                        </form>
                    </div>
                </div>
    
    <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion08" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score.png" class="featured-block-image img-fluid mb-3" alt="VER CALIFICACIONES FORMATO 02">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-08</p>
                            </button>
                        </form>
                    </div>
                </div>
</body>
</html>