<!doctype html>
<html lang="en">
    <head>
        <title>Calificaciones</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/perfil_coordinacion.css')}}">


    </head>

    <body>
        <!-- Header con logo centrado -->
        <header class="container-fluid d-flex justify-content-center bg-white p-2"> 
            <form action="/loginCoordinacionIni " method="post">
                <button type="submit" class="custom-btn">← Atrás</button>
            </form>
            <div class="logoUPT ms-3">
                <a href="/" class="logo-upt">
                    <img src="../static/img/logo_upt.png" alt="Logo UPT" height="125">
                </a>
            </div>
        </header>

        <main>
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-12 mb-5">
                        <h1>Calificaciones </h1>
                    </div>
                </div>

                <div class="row justify-content-center">

                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion02" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score02.png" class="featured-block-image img-fluid mb-3" alt="">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-02</p>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion03" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score03.png" class="featured-block-image img-fluid mb-3" alt="">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-034</p>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion07" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score07.png" class="featured-block-image img-fluid mb-3" alt="">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-07</p>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <div class="featured-block d-flex flex-column justify-content-center align-items-center text-center p-3 ">
                        <form action="/vercalificacion08" method="post">
                            <button type="submit" class="d-block">
                                <img src="../static/img/score08.png" class="featured-block-image img-fluid mb-3" alt="">
                                <p class="featured-block-text">VER CALIFICACIONES FO-EST-08</p>
                            </button>
                        </form>
                    </div>
                </div>

                </div>
                
            </div>
            
        </main>

        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
