:root {
    --secondary-color: #fd5d0e;
    --accent-color: #1c7cb7;
    --background-color: #f8f9fa;
    --text-color: #333;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background-color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    font-weight: 600;
}