.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 24px;
}

.container > div {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerr > div {

    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive: 1 columna en pantallas pequeñas */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}