body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 3vw auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header {
        background-color: white;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 2vw;
    
    }


.header {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.header button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.header button.active,
.header button:hover {
    background-color: #217dbb;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #34495e;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

input:focus, select:focus {
    border-color: #2980b9;
    outline: none;
}

button.submit {
    background-color: #27ae60;
    padding: 12px 25px;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}
#asignar{
    background: #c234db;
}

button.submit:hover {
    background-color: #219150;
    height: 100%;
}
