<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Carga</title>
    <link rel="stylesheet" href="{{
        url_for('static',
        filename='css/carga.css')}}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Proyecto ya calificado</h1>
            <div class="icon"><img src="../static/img/hourglass.gif" alt="gifcorrect" id="gifc"></div>
                <p>Actualizar a la nueva calificación seleccionada? ({{Calificacion}})</p>
            <div class="dobleForm">
                <form method="post" action="/correccionSiP3" id="formulario">
                    <input type="hidden" name="proyecto" value="{{proyecto}}">
                    <input type="hidden" name="IDAsesor" value="{{IDAsesor}}">
                    <input type="hidden" name="matricula" value="{{matricula}}">
                    <input type="hidden" name="Calificacion" value="{{Calificacion}}">
                    <input type="hidden" name="Resultados" value="{{Resultados}}">
                    <input type="hidden" name="Conclusiones" value="{{Conclusiones}}">
                    <input type="hidden" name="Referencias" value="{{Referencias}}">
                    <input type="hidden" name="Anexos" value="{{Anexos}}">
                    <button>Si</button>
                </form>
                <form action="/correccionNo" method="post">
                    <input type="hidden" name="IDAsesor" value="{{IDAsesor}}">
                    <input type="hidden" name="proyecto" value="{{proyecto}}">
                    <button id="No">No</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

