<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Carga</title>
    <link rel="stylesheet" href="{{
        url_for('static',
        filename='css/carga.css')}}">
        <script>
            window.onload = function() {
                setTimeout(function() {
                    document.getElementById('formulario').submit();
                }, 1880); 
            };
        </script>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Ya se ha calificado este alumno</h1>
            <div class="icon"><img src="../static/img/hourglass.gif" alt="gifcorrect" id="gifc"></div>
                <p></p>
            <div class="dobleForm">
                <form method="post" action="/calificarSer" id="formulario">
                    <input type="hidden" name="proyecto" value="{{proyecto}}">
                    <input type="hidden" name="parcial" value="{{parcial}}">
                   
                    
            </div>
        </div>
    </div>
</body>
</html>

