<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario UPT</title>
     <!-- Bootstrap CSS v5.2.1 -->
     <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />

    <!-- Style CSS -->
    <link rel="stylesheet" href="{{
        url_for('static',
        filename='css/style.css')
    }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil_coordinacion.css') }}">
</head>
<body>

    <header class="container-fluid d-flex justify-content-center bg-white p-2">
        <a href="/" class="logo-upt">
            <img src="../static/img/logo_upt.png" alt="Logo UPT" height="80">
        </a> 
    </header>

    <div class="container">
        <div class="form-container">
            <!-- Columna izquierda -->
            <div class="left-column">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="{{nombre}} {{nombre2}} {{apellidoP}} {{apellidoM}}" disabled>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" value="{{correo}}" disabled>
                </div>
            </div>

            <!-- Divisor vertical -->
            <div class="divider"></div>

            <!-- Columna derecha -->
            <div class="right-column">
                <div class="form-group">
                    <label for="parcial">Alta de académico:</label>
                    <!-- Botón para redirigir -->
                     <form action="/registrarAsesor" method="post">
                        <button class="btn btn-registrar" onclick="window.location.href='registrarAsesor'">Registrar</button>
                     </form>
                    
                </div>
                <div class="form-group">
                    <label for="titulo">Modificar periodo</label>
                    <form action="" method="post">
                        <button class="btn btn-modificar">Modificar</button>
                    </form>
                </div>
                <div class="form-group">
                    <label for="titulo">Agregar proyecto</label>
                    <form action="/agregar" method="post">
                        <button class="btn btn-agregar">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
    ></script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"
    ></script>
    
</body>
</html>
